body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/img/universe.jpg");
}

.Container {
    height:100vh;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.hero_Section {
    height: 100vh;
    color: white;
    /* background-color: yellow; */
    scroll-snap-align: start;
}

.work_Section {
    height: 100vh;
    color: white;
    /* background-color: aqua; */
    scroll-snap-align: start;
}

.who_Section {
    height: 100vh;
    color: white;
    /* background-color: black; */
    scroll-snap-align: start;
}

.contacts_Section {
    height: 100vh;
    color: white;
    /* background-color: blue; */
    scroll-snap-align: start;
}
