body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/img/universe.jpg");
}

.Container {
    height:100vh;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*****************************************Start here hero section************************************************/
.hero_Section {
    height: 100vh;
    color: white;
    /* background-color: yellow; */
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main_navcontainer{
   display: flex;
   justify-content: center; 
}
.nav_container{
    width: 1700px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:19px 0px;
}
.logo_list{
    display: flex;   
    gap:10px;
    background-color: transparent;
}
.lists{
    display: flex;
    gap: 130px;
    list-style: none;
    align-items: center;
    font-weight: bolder;
    font-size:19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.img_logo{
    height: 80px;
    border-radius: 50px;
}

.nav_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:33px;
}
i{
    font-size:29px;
}
.search_btn{
    border-radius: 39px;
    border:2px solid rgb(26, 92, 184);
    cursor: pointer;
    background:linear-gradient(rgb(130, 23, 175),rgb(6, 43, 83));
    width:100px;
    height:49px;
    color:white;
    padding:20px;
}

.hero_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    /* position: relative; */
    /* padding:100px; */
    /* gap:120px; */
}
.left{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap:5px;    */
}
h1{
    font-size: 69px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.what_we_do{
    display: flex;
    align-items: center;
    gap:10px;
}
.subtitle{
    /* font-size: 23px; */
    color:white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line{
    height: 5px;
}
.info{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left button{
    border:none;
    background-color: rgb(202, 14, 183);
    border-radius: 5px;
    width: 100px;
    padding:10px;
    color:white;
    font-weight: bolder;
    cursor: pointer;
}
.right{
    flex:3;
}
.right img{
    object-fit: contain;
    /* position: absolute; */
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    animation: animate 2s infinite ease alternate;
}
@keyframes animate{
    100%{
        transform:translateY(29px);
        /* transform: translateX(20px); */
    }
}

/*****************************Who section start here*******************************************************/
.who_Section {
    height: 100vh;
    color: white;
    /* background-color: black; */
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
   
}
.Who_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.right_who{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap:5px;    */
}
h1{
    font-size: 69px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.what_we_do{
    display: flex;
    align-items: center;
    gap:10px;
}
.subtitle{
    /* font-size: 23px; */
    color:white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line{
    height: 5px;
}
.info{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right_who button{
    border:none;
    background-color: rgb(202, 14, 183);
    border-radius: 5px;
    height:50px;
    width: 130px;
    padding:10px;
    color:white;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.left_who{
    flex:1;
}

